
p {
  margin: 0
}
h1 {
  margin: 0
}
a {
  color: white
}
a:hover {
  color: #eb3d00
}

.menu {
  background-color: rgba(230, 230, 230, 0.7);
  width: 150px;
  height: 130px;
  position: fixed;
  top: 1%;
  left: -6%;
  border: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 10px;
  font-size: 12px;
  text-indent: none;
  font-weight: bold;
}

#list {
  padding: 10px;
}